<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de Hipoteca Inversa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Resultado de la Hipoteca Inversa</h1>
        {% if tipo == 'unica' %}
        <p>Deuda acumulada: {{ resultado }}</p>
        <p>Meses hasta alcanzar el valor de la vivienda: {{ meses }}</p>
        {% else %}
        <p>Deuda acumulada: {{ resultado }}</p>
        {% endif %}
        <a href="/">Volver</a>
    </div>
</body>

</html>